
@page "/"
@inject HttpClient Http
@inject Helpers.CityIndexState CityIndexState

<AuthorizeView>
    <Authorized>
        <div class="d-flex bd-highlight">
            <CitySelector CityIndex="@CityIndexState.Index" />
            <ResourceView CityIndex="@CityIndexState.Index" />
        </div>
        <div class="d-flex bd-highlight">
            <UnitsOfCityView CityIndex="@CityIndexState.Index" />
        </div>

        <div class="d-flex bd-highlight mt-2">
            <CityView CityIndex="@CityIndexState.Index" />
        </div>
        <div class="d-dflex bd-highlight mt-2">
            <UpgradeQueue />
        </div>
        <div class="d-dflex bd-highlight mt-2">
            <RecruitQueue />
        </div>

    </Authorized>
</AuthorizeView>

@code
{
    protected override void OnInitialized()
    {
        CityIndexState.SetIndex(CityIndexState.Index);      
    }
}
