
@page "/"
@inject HttpClient Http
@inject Helpers.CityIndexState CityIndexState

<AuthorizeView>
    <Authorized>        
            <div class="d-flex bd-highlight">
                <CitySelector CityIndex="@_cityIndex" />
                <ResourceView CityIndex="@_cityIndex" />
            </div>
            <div class="d-flex bd-highlight">
                <UnitsOfCityView CityIndex="@_cityIndex" />
            </div>

            <div class="d-flex bd-highlight mt-2">
            <CityView CityIndex="@_cityIndex" />
        </div>
        
      
    </Authorized>
</AuthorizeView>

@code
{
    private int _cityIndex = 0;

    protected override void OnInitialized()
    {
        CityIndexState.SetIndex(0);
        _cityIndex = CityIndexState.Index;
    }

}
