@page
@model LockoutModel
@{
    ViewData["Title"] = "Banned user";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Your account has been banned. Please read your emails for more information and actions.</p>
</header>
