@inject Helpers.CityIndexState CityIndexState
@inject IDialogService DialogService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Game</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>



        <AuthorizeView Roles="User">
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="barrack" Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Barrack
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> City hall
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> City wall
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Farm
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Lumber
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Silver mine
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Stone mine
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Warehouse
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AdminRoleNavMenuItems />

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool barrackDialogIsVisisble = false;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
